<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Results</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:insert="navbar">

</nav>

<div class="container">
    <h1 class="mt-5 mb-4">Student Results</h1>
    <form action="/AddStudent" method="POST">
        <div class="form-group">
            <label for="studentName">Student Name</label>
            <input type="text" class="form-control" name="name" id="studentName" placeholder="Enter student's name">
        </div>
        <div class="form-group">
            <label for="studentSurname">Student Name</label>
            <input type="text" class="form-control" name="surname" id="studentSurname"
                   placeholder="Enter student's name">
        </div>
        <div class="form-group">
            <label for="exam">exams</label>
            <input type="number" class="form-control" name="exam" id="exam" placeholder="Enter exam">
        </div>
        <button type="submit" class="btn btn-primary">Add Result</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
